<section class="places">
  <h1 id="title">Amazing Places</h1>

  <div class="place-list" *ngIf="places.length != 0">
    <div class="place" *ngFor="let place of places">
      <div class="place-img">
        <img src="{{ place.imageUrl }}" alt="s" />
      </div>
      <div class="place-info">
        <h1>{{ place.title }}</h1>
        <p><span>Name: </span>{{ place.name }}</p>
        <p><span>Location: </span>{{ place.location }}</p>
      </div>

      <a routerLink="/{{ place.id }}/details" class="btn-details">Details</a>
    </div>
  </div>
  <div class="no-place" *ngIf="places.length == 0">
    <p>There are no places addet yet!</p>
  </div>
</section>
