<section class="game-market">
  <h1 id="title">Amazing Places</h1>
  <div class="offer-list">
    <div class="game">
      <div class="game-img">
        <img src="./static/images/witcher-3.jpg" alt="s" />
      </div>
      <div class="game-info">
        <h1>The Witcher 3sssssssssss</h1>
        <p><span>Name: </span>PC</p>
        <p><span>Location: </span>RPG</p>
      </div>

      <a href="#" class="btn-details">Details</a>
    </div>
    <div class="game">
      <div class="game-img">
        <img
          src="https://scontent.fvar1-1.fna.fbcdn.net/v/t39.30808-6/286356518_1005728440103052_8364378919223498235_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=jvj1itoaSPYAX-jben_&_nc_ht=scontent.fvar1-1.fna&oh=00_AfDYdPRP6EnN-3z7wk4IcNZxSJ-7Rs3bV070vhaRah_t-Q&oe=64C39D68"
        />
      </div>
      <div class="game-info">
        <h1>River of Five Colors</h1>
        <p><span>Name: </span>Caño Cristales</p>
        <p><span>Location: </span>Colombia</p>
      </div>

      <a href="#" class="btn-details">Details</a>
    </div>
    <div class="game">
      <div class="game-img">
        <img src="./static/images/witcher-3.jpg" alt="s" />
      </div>
      <div class="game-info">
        <h1>The Witcher 3ss s ss</h1>
        <p><span>Name: </span>aaaaaaaaaaaaaassssss</p>
        <p><span>Location: </span>aaaaaaaaaaaaaassssss</p>
      </div>

      <a href="#" class="btn-details">Details</a>
    </div>
  </div>
  <!-- <div class="no-offer">
        <p>There are no game offers found!</p>
    </div> -->
</section>
