/* =============== */

body::-webkit-scrollbar {
  display: none;
}
#title {
  border-top: 4px solid #78edf1;
  border-bottom: 4px solid #78edf1;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  background-color: #3e4443;
  color: white;
  width: 20%;
  height: 100px;
  margin: auto;
  margin-top: 1%;
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
}

.places h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
}

.place-list {
  width: auto;
  height: 580px;
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow-x: auto;
}

.places .place {
  display: inline-block;
  width: 500px;
  height: 300px;
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  border: 2px solid #78edf1;
  border-radius: 30px;
  background-color: #3e4443;
}

.places .place-img img {
  float: left;
  border: 2px solid rgba(133, 104, 50, 0.781);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 20px;
}

.places .place-info {
  margin: 30px;
}

.places .place-info h1 {
  font-size: 18px;
  margin-top: 30px;
  color: white;
}

.places .place-info p {
  color: #050912;
  font-weight: bolder;
  margin-top: 10px;
}

.places .place-info span {
  color: white;
  font-weight: bolder;
}

.places .place .btn-details {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #732e4d, #ac6897);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
  width: 100px;
  margin-bottom: 10px;
  margin-left: 20px;
  text-decoration: none;
}

.places .place .btn-details:hover {
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.no-place {
  border-top: 4px solid #78edf1;
  border-bottom: 4px solid #78edf1;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  background-color: #3e4443;
  width: 50%;
  height: 100px;
  margin: auto;
  margin-top: 5%;
}

.no-place  p {
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
  color: white;
}
