#edit-page {
  margin-top: 1%;
  position: auto;
  width: 800px;
  height: auto;
  padding: 40px;
  box-sizing: border-box;
  border: 2px solid #78edf1;
  border-radius: 20px;
  text-align: center;
  background: #3e4443;
  box-shadow: 0px 0px 32px 0px #32485e, -14px -14px 20px #191c21;
}

.wrapper {
  height: 500px;
  width: 1200px;
  margin: 30px auto;
  box-sizing: border-box;
  border: 2px solid #78edf1;
  border-radius: 20px;
  text-align: center;
  background: #3e4443;
  box-shadow: 0px 0px 32px 0px #32485e, -14px -14px 20px #191c21;
  margin-bottom: 200px;
}

.placeCover {
  float: left;
  height: 100%;
  width: auto;
  margin-right: 20px;
  margin-left: 0.1%;
}

.placeCover img {
  border-radius: 20px 0 0 20px;
  height: 100%;
  width: 600px;
}

.placeText {
  padding-left: 10px;
  padding-top: 20px;
  margin-top: 2%;
}
.like {
  float: right;
  margin-top: 100px;
}

.like p {
  height: auto;
  width: 100%;
  color: #9f9991;
  line-height: 1.6em;
  font-size: 26px;
  margin-right: 90px;
  
}

.placeText h1 {
  color: gainsboro;
  font-weight: bolder;
  font-size: 28px;
}

.placeText h3 {
  margin: 8px 0 47px 18px;
  font-size: 18px;
  color: gray;
  letter-spacing: 0.2em;
  margin-bottom: 0;
}

.placeText h4 {
  margin: 8px 0 10px 18px;
  font-size: 16px;
  color: #9f9991;
  letter-spacing: 0.2em;
}

.placeText h5 {
  margin: 8px 0 10px 14px;
  font-size: 16px;
  color: white;
}

.placeText > p {
  height: auto;
  width: 100%;
  color: #9f9991;
  line-height: 1.6em;
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
}

.actionBtn {
  margin-top: 3%;
  display: flex;
  text-align: center;
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  margin-left: 9%;
  float: left;
}

.actionBtn > a {
  width: 150px;
  height: 50px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  display: inline;
  align-items: center;
  justify-content: center;
  background-color: #1b2845;
  background-image: linear-gradient(45deg, #732e4d, #ac6897);
  background-size: 200% 100%;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  background-position: left;
  background-repeat: no-repeat;
  transition: 500ms;
  color: white;
  font-family: "Lato";
  font-size: 20px;
  /* margin-bottom: 10px; */
  margin-top: 20px;
  padding: 10px;
  text-decoration: none;
  margin-right: 50px;
}

.actionBtn > a:hover {
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

/* hides the checkbox */
input[class="heart"] {
  display: none;
  cursor: pointer;
  
}

/* changes the color when selected */
input[class="heart"]:checked ~ label[for="heart"] {
  color: red;
  cursor: pointer;
}

/* for styling purpose only */
label[for="heart"] {
  font-size: 3em;
  cursor: pointer;
}

/* chech */
/* hides the checkbox */
input[class="check"] {
  display: none;
  cursor: pointer;
}

/* changes the color when selected */
input[class="check"]:checked ~ label[for="check"] {
  color: green;
  cursor: pointer;
}

/* for styling purpose only */
label[for="check"] {
  font-size: 3em;
  cursor: pointer;
}

/* fav */
/* hides the checkbox */
input[class="favorite"] {
  display: none;
  cursor: pointer;
}

/* changes the color when selected */
input[class="favorite"]:checked ~ label[for="favorite"] {
  color: rgb(238, 234, 20);
  cursor: pointer;
}

/* for styling purpose only */
label[for="favorite"] {
  font-size: 3em;
  cursor: pointer;
}


.edit-delete-btns {
  margin-top: 2%;
  margin-left: auto;
  padding: auto
 
}

.likes {
  display: inline;
}
.likes p {
  display: inline;
  font-size: 40px;
}

.visit {
  display: inline;
}

.favorite {
  display: inline;
}
