<section id="register-page" class="content auth">
  <form
    id="register"
    #registerForm="ngForm"
    (ngSubmit)="onRegister(registerForm)"
  >
    <div class="container">
      <div class="brand-logo"></div>
      <h1>Register</h1>

      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        [appEmail]="appEmail"
        ngModel
        #inputEmail="ngModel"
        required
      />

      <ng-container *ngIf="inputEmail.touched">
        <p class="error" *ngIf="inputEmail.errors?.['required']">
          Email is required!
        </p>
        <p class="error" *ngIf="inputEmail.errors?.['appEmailValidator']">
          Email is invalid!
        </p>
      </ng-container>

      <label for="username">Username:</label>
      <input
        type="nickname"
        id="username"
        name="username"
        ngModel
        #inputUsername="ngModel"
        maxlength="10"
        required
      />

      <ng-container *ngIf="inputUsername.touched">
        <p class="error" *ngIf="inputUsername.errors?.['required']">
          Username is required!
        </p>
      </ng-container>

      <label for="bio">Bio:</label>
      <textarea
        name="bio"
        id="bio"
        ngModel
        #inputDescription="ngModel"
        maxlength="50"
      ></textarea>

      <label for="pass">Password:</label>
      <input
        type="password"
        name="password"
        id="register-password"
        ngModel
        #inputPassword="ngModel"
        required
        minlength="6"
      />

      <ng-container *ngIf="inputPassword.touched">
        <p class="error" *ngIf="inputPassword.errors?.['required']">
          Password is required!
        </p>
        <p class="error" *ngIf="inputPassword.errors?.['minlength']">
          Password must be at least 6 characters!
        </p>
      </ng-container>

      <label for="con-pass">Confirm Password:</label>
      <input
        type="password"
        name="confirm-password"
        id="confirm-password"
        ngModel
        #inputConfPass="ngModel"
      />

      <ng-container *ngIf="inputConfPass.touched">
        <p class="error" *ngIf="inputPassword.value !== inputConfPass.value">
          Password and confirm password does not match!
        </p>
      </ng-container>

      <input
        class="btn submit"
        type="submit"
        value="Register"
        [disabled]="registerForm.invalid"
      />

      <p class="field">
        <span
          >If you already have profile click
          <a routerLink="/user/login">here</a></span
        >
      </p>
    </div>
  </form>
</section>
