.place {
  box-shadow: 0px 0px 30px 0px;
  display: inline-block;
  width: 300px;
  height: 350px;
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  box-sizing: border-box;
  border-radius: 15px;
  border: 2px solid #78edf1;
  color: #78edf1;
  background-color: #3e4443;
  
}

.image-wrap {
  display: inline-block;
  overflow:hidden;
  position: relative;
  text-align: center;
}

.image-wrap > img {
  max-width: 100%;
  text-align: center;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 20px;
  border: 2px solid rgba(133, 104, 50, 0.781);
}

.place > h3 {
  font-family: "Agency FB";
  font-size: 30px;
  font-weight: 500;
  line-height: normal;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.5s ease-out;
  text-align: center;
  text-transform: uppercase;
  color: #ac6897;
  
}

.likes {
  font-size: 20px;
  padding: 10px;
  color: white;
}

.details-btn {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #732e4d, #ac6897);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
  width: 100px;
  margin-bottom: 10px;
  text-decoration: none;
  text-align: center;
}

.details-btn:hover {
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.data-buttons {
  font-size: 1.4rem;
  padding-top: 20px;
  text-align: center;
}

.btn.details-btn:hover {
  background-color: rgb(192, 129, 117);
  color: white;
}

h2 {
  border-top: 4px solid #78edf1;
  border-bottom: 4px solid #78edf1;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  background-color: #3e4443;
  width: 400px;
  height: 50px;
  color: white; 
}

.no-place {
  border-top: 4px solid #78edf1;
  border-bottom: 4px solid #78edf1;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  background-color: #3e4443;
  width: 50%;
  height: 100px;
  margin: auto;
  margin-top: 5%;
}

.no-place  p {
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
  color: white;
}
