<header>
  <!-- Navigation -->
  <h1><a class="home" routerLink="/">Home</a></h1>
  <nav>
    <a routerLink="/user/profile" *ngIf="isLogged">Welcome, {{ user!.username }}</a>
    <a routerLink="/place/catalog">Amazing places</a>
    <!-- Logged-in users -->
    <div id="user" *ngIf="isLogged">
      <a routerLink="/place/create">Share your place</a>
      <a (click)="onLogout()">Logout</a>
    </div>
    <!-- Guest users -->
    <div id="guest" *ngIf="!isLogged">
      <a routerLink="/user/login">Login</a>
      <a routerLink="/user/register">Register</a>
    </div>
  </nav>
</header>
