<section class="profile-page">
  <div class="profile-card">
    <div class="top-section">
      <div class="pic">
        <img src="/assets/3333.png" />
      </div>
      <div class="email">{{ user.email }}</div>
    </div>

    <div class="bottom-section">
      <div class="social-media">
        <i class="fa fa-map-pin" (click)="onMyPlaces()"></i>
        <i class="fa fa-check" (click)="onMyVisited()"></i>
        <i class="fa fa-star" (click)="onMyFavorites()"></i>
      </div>
      <h2 *ngIf="section">{{ section }}</h2>
    </div>
  </div>
</section>
<section class="places" *ngIf="section">
  <!-- <h1 id="title">Amazing Places</h1> -->

  <div class="place-list" *ngIf="places.length != 0">
    <div class="place" *ngFor="let place of places">
      <div class="place-img">
        <img src="{{ place.imageUrl }}" alt="s" />
      </div>
      <div class="place-info">
        <h1>{{ place.title }}</h1>
        <p><span>Name: </span>{{ place.name }}</p>
        <p><span>Location: </span>{{ place.location }}</p>
      </div>

      <a routerLink="/{{ place.id }}/details" class="btn-details">Details</a>
      <div class="like">
        <p>Likes: {{ place.likes.length }}</p>
      </div>
    </div>
  </div>
  <div class="no-place" *ngIf="places.length == 0">
    <p>There are no places addet yet!</p>
  </div>
</section>
